.blogContainer {
	display: flex;
}

.blogContainer__section {
	border-right: 1px solid lightgrey;
	flex: 0 0 65%;
	padding: 2rem 2rem 0 0;
}

.blogContainer__section__postSummary {
	margin-bottom: 2rem;
}

.blogContainer__section__date {
	color: #a0a0a0;
	font-size: 14px;
	font-weight: lighter;
	margin-bottom: 1rem;
}

.blogContainer__header {
	margin-bottom: .5rem;
}

.blogContainer__aside {
	flex: 0 0 35%;
	padding: 2em 2em 0;
	text-align: center;
}

.blogContainer__aside__header {
	font-size: 20px;
	margin: 1em auto;
}

