@media (max-width: 991px) {
	.appContainer {
		padding: 2em 5em;
	}

	.blogContainer {
		display: block;
	}

	.blogContainer__section {
		border-right: none;
		padding-right: 0;
	}

	.blogContainer__section__date {
		border-bottom: 1px solid lightgrey;
		margin-bottom: 0;
		padding-bottom: 3em;
	}

	.blogContainer__aside {
		padding-top: 3em;
		margin: auto;
		width: 90%;
	}
}

/* Microsoft Lumia 550 */
@media (max-width: 640px) {
	.blogContainer__aside {
		padding: 3em 0;
		width: 100%;
	}
}

/* iPhone6Plus */
@media (max-width: 414px) {
	.appContainer {
		padding: 2em 3em;
	}
}

/* iPhone4 */
@media (max-width: 320px) {
	.appContainer__header {
		padding: .5em 0;
	}

	.appContainer__header__title {
		font-size: 30px;
		margin-bottom: .3em;
	}

	.appContainer__header__subtitle {
		font-size: 16px;
	}

	.blogContainer__header {
		font-size: 22px;
	}

	.blogContainer__paragraph {
		font-size: 16px;
	}
}
