.navigation__list {
	align-content: space-between;
	color: #fff;
	display: flex;
	justify-content: center;
	margin: 0;
}

.navigation__listItem {
	font-weight: bold;
	margin: 0;
	padding: .5rem;
}

.navigation__listItem:active,
.navigation__listItem:focus,
.navigation__listItem:hover {
	color: #ffa500;
	text-decoration: underline;
}
