.post {
	margin: auto;
	padding: 2rem 12rem;
}

.post__date {
	font-weight: bold;
}

.post__listItem {
	color: #1d7eb5;
	list-style-type: none;
	margin: 2rem 0;
}

.post__listItem:hover {
	color: #ffa500;
}

/* Override embedded <hr> tags coming from Contentful */
hr {
	background: 0;
	margin-top: 1em;
}
